.listNameInputWrapper{
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}

.listNameInput{
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: var(--color-dark);
}

.listNameInput::placeholder{
  color: var(--color-info-light);
}

.cardSection{
  margin-top: .75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
}

.metadataCard{
  flex-grow: 1;
  background-color: #fff;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 .75rem;
}

.metadataText{
  margin-top: .1rem;
  font-size: 1rem;
  font-weight: 600;
}

.shareCard{
  background-color: #fff;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newItemWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.75rem;
  background-color: rgba(181, 187, 200, 0.1);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
}

.newItemInput{
  flex-grow: 1;
  border-radius: var(--border-radius-1);
  padding: .5rem;
  border: none;
  outline: none;
  height: 100%;
  font-weight: 500;
  background-color: transparent;
}

.newItemInput::placeholder{
  color: var(--color-info-light);
}

.addBtn{
  border-radius: var(--border-radius-1);
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
}

.itemsContainer{
  margin-top: .75rem;
  position: relative;
  width: 100%;
  flex-grow: 1;
  padding: 0 1rem 1rem;
  background-color: #fff;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}

.itemsWrapper{
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: .25rem;
  border-radius: var(--border-radius-1);
}

.item{
  width: 100%;
  border-radius: var(--border-radius-1);
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.itemUnitCountWrapper{
  background-color: var(--color-super-light);
  border-radius: var(--border-radius-1);
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemUnitCountInput{
  color: var(--color-info);
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
}

.itemName{
  flex-grow: 1;
  transition: .5s ease-in-out;
  margin-right: 3.25rem;
  cursor: pointer;
}

.noteText{
  width: 100%;
  line-height: .9rem;
  font-size: .7rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-dark-variant);
  margin-bottom: .75rem;
}

.saveBtn{
  width: 100%;
  margin-bottom: .75rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: var(--border-radius-2);
  background-color: #000;
  color: #fff;
}