.container{
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding: 2rem;
  padding-bottom: 9rem;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logoutBtn{
  font-weight: 600;
  color: var(--color-red);
}